/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
.logo img{
  height: 130px;
}
nav{
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #1c055e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar  a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #1c055e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
/*  */
.search-box{
    display: none;
}
/*  */
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
/* -----------------------SLIDER CSS START---------------------------- */

.wrappers {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrappers i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #f6f7f8;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #020202;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  /* height: 100%; */
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
}
/* -----------------------SLIDER CSS end---------------------------- */

/********** News, Event, Notice Board CSS Starts **********/ 
.container{
  width: 100%;
  padding: 5px;
} 
.event {
  width: 31%;
  margin-right: 1%;
  float: left;
  margin-left: 1%;
  justify-content: space-evenly;
  border-radius: 5px;
}
.event div {
  padding:10px;
  background-color: #f0f3fa;
}
.event ul li {
  margin-bottom: 20px;
  width: 100%;
  /* float: left; */
    
}
.event ul li a{
  text-decoration: none;
}
div .marq{
  height: 300px;
  box-shadow: 0px 1px 3px black;
  border-radius: 5px;
}
/********** News, Event, Notice Board CSS Ends **********/
/********** About Us CSS starts **********/
.about-us img {
  width:24%;
  float:left;
  margin-right: 20px;
  height: 350px;
  
}
.about-us .lbs {
  width:99%;
  margin-left:20px;
  /* float:left; */
  line-height:35px;
}
.about-us p{
  font-size: 22px;
}

/********** About Us CSS Ends **********/

/*------------------testimonial css start ------------------------ */

::selection{
  background: #143568;
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #143568;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #143568;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #143568;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #143568;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

/*--------------- testimonial css end ------------------------ */
/*----------------- gallery css start--------------- */

  .gallery img {
    width: 24%;
  }

  /*--------- Gallery css end---------------*/

/* ---------------palcment start--------------- */

.placement{
 border: 3px solid rgb(226, 223, 223);
 border-left: none;
 border-right: none;
 border-radius: 5px;
 margin-bottom: 170px;
}
.placement img{
  /* border:10px solid #e60404; */
  height: 80px;
  width: 140px;
  margin: 10px;
  padding: 10px;
}

/* ---------------palcment end--------------- */

/*------------footer section end-----------------*/
.footer {
  position: absolute;
  /* top: 100px; */
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 1580px; */
  width: 100%;
  background: #10182F;
  border-radius: 6px;
  
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
  
}

.footer-col .icons i {
  color: #afb6c7;
  font-size: 30px;

}
.footer-col .icons i:hover  {
  color: #fff;
  transform: scale(1.2);
}
.icons i.wtp:hover{
  color: #25d366;
  

}
.icons i.inst:hover{
  color: #ec6091;
  
}
.icons i.fsb:hover{
 color: #3b5998;
}
.icons i.link:hover{
 color: #0e76a8;
}
/* course section */
.bc{
  text-align: center;
    background-color: #1c055e;
    font-size: 60px;
    margin: 5px 5px;
    margin-top: 20px;
    border-radius: 30px;

}

/*------------footer section end-----------------*/



@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }

  /*-------- testimonial css start--------------- */

  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
  /*-------- testimonial css end--------------- */
}
@media (max-width:800px){
  .logo img{
    height: 70px;
  }
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #1c055e;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
    i#next{
      display: none;
    }
    i#prev{
      display: none;
    }
/********** News, Event, Notice Board CSS Starts **********/ 

  .event{
    width: 98%;
    margin-right: 1%;
    float: left;
    padding: 5px 60px

  }
  .event div {
    padding:10px;
    background-color: #f0f3fa;
  }
  .event ul li {
    margin-bottom: px;
    width: 100%;
    float: left;
      
  }
  /* about us */

  .about-us img {
    width:98%;
    padding: 2px 8px;
    float:left;
    border-radius: 35px;
    margin-top: 10px;

}
  .about-us .lbs {
    width:70%;
    margin-left:20px;
    line-height:35px;
}

  /********** News, Event, Notice Board CSS end **********/ 
  /* -----------footer css start ---------------------*/
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    display: flex;
    top: 2px;

  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
    /* -----------footer css start ---------------------*/

/* placemnt */
  .placement{
    margin-bottom: 0%;
  }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 

}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
  .bc{
    font-size: 25px;
  }
}